{% extends "base.html" %}
{% load static %}
{% block title %}Register{% endblock %}
{% block content %}


<link href="{% static 'css/registration.css' %}" rel="stylesheet">
<br><br>
<div class="container">
    <div class="form-group">
        <form method="POST" class="styled-form" enctype="multipart/form-data">
            <h1>Register</h1>
            <br>
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" required>
            <br>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" required>
            <br>
            <label for="password1">Password</label>
            <input type="password" name="password1" id="password1" class="form-control" required>
            <br>
            <label for="password2">Confirm Password</label>
            <input type="password" name="password2" id="password2" class="form-control" required>
            <br>
            <a href="{% url 'login' %}">Already have an account? Login</a>
            <br>
            <br>
            <button type="submit" class="submit-button" id="submit-button">
                Register
            </button>
                
        </form> 
        <button type="submit" class="submit-button" id="submit-button">
            <a href="{% url 'base' %}">Back to Home</a>
        </button>   
    </div>
</div>
{% endblock content %}
